/*1024-1199*/
@media screen and (max-width: 1199px) {


}


@media screen and (max-width: 1170px) {
    #block-instagram {
        padding-left: 20px;
        padding-right: 20px;
    }

    #second-block, #third-block, #fourth-block, #advantages, #header, #first-block, #footer-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #pop-up-discount {
        margin-right: 20px;
        margin-left: 20px;
    }

    #footer-place-map {
        width: 95%;
    }

    #footer-place {
        width: 100%
    }

    #strong {
        top: -172px;
        right: -298px;
    }

    #first-block {
        justify-content: center;
    }

    #second-block-main-texts {
        margin-left: 20px;
    }

    #second-block-main-img {
        width: 500px;
    }

    #second-block-main-img img {
        width: 100%;
    }

}


@media screen and (max-width: 1099px) {

    #first-block-image {
        width: 500px;
        height: 625px;
    }
}

@media screen and (max-width: 1050px) {

    #first-block-image {
        width: 450px;
        height: 575px;
    }

    #club {
        left: 193px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {

    #fourth-block {
        padding: 0px 20px;
    }

    .slick-slide {
        margin: 0px 30px 0px 30px;
    }

    #fourth-block-info {
        max-width: 796px;
        margin: 0 auto 40px auto;
    }

    #fourth-block-slick {
        width: 95%;
    }

    #img-face {
        bottom: -278px;
    }


    #third-block-title-image {
        left: 171px;
    }

    #footer-info .logo, #footer-info-time, #footer-info-address, #footer-info-network-text, #footer-info-network-icon, #footer-info-email {
        margin-bottom: 15px;
    }

    #second-block-main-texts {
        max-width: 470px;
    }

    #second-block-container, #fourth-block-content {
        border-right: none;
    }

    #third-block-title {
        border-left: none;
    }

    .slick-slide {
        display: none !important;
    }

    .slick-center {
        display: flex !important;
    }

    .slick-slide.slick-cloned.slick-center {
        display: none !important;
    }

    .slick-track {
        transform: translate3d(250px, 0px, 0px) !important;
    }

    .slick-dots {
        display: none !important;
    }

    .slick-prev {
        left: 0px;
        top: 212px;
    }

    .slick-next {
        right: 0px;
        top: 212px;
    }

}

@media screen and (max-width: 1008px) {
    #pop-up-check-cancel {
        top: 7px;
    }
}



@media screen and (max-width: 1000px) {
    #first-block-image {
        width: 400px;
        height: 525px;
    }

    .advantages-items {
        margin-left: 30px;
    }
}

@media screen and (max-width: 950px) {

    .slick-track {
        transform: translate3d(215px, 0px, 0px) !important;
    }

    #third-block-services {
        margin-left: 20px;
    }

    #third-block-title-image {
        left: 60px;
    }

    #fourth-block-info {
        max-width: 796px;
    }
}

@media screen and (max-width: 950px) {
    .slick-track {
        transform: translate3d(191px, 0px, 0px) !important;
    }

    #first-block-image {
        width: 549px !important;
        height: 675px;
    }

    #first-block #first-block-info {
        order: 1;
        margin-top: 40px;
        margin-bottom: 30px;
        max-width: 950px;
    }

    #first-block-image {
        order: 2;
    }

    #first-block {
        flex-wrap: wrap;
        text-align: center;
    }

    #first-block-info-text h2 {
        margin: 20px 0 40px 0;
    }

    #strong {
        display: none;
    }

    #club {
        display: none;
    }


}

@media screen and (max-width: 870px) {
    #third-block-main-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #third-block-services {
        margin-right: 20px;
    }
}

@media screen and (max-width: 850px) {
    #img-face {
        bottom: -226px;
    }
}


@media screen and (max-width: 850px) {

    .slick-track {
        transform: translate3d(168px, 0px, 0px) !important;
    }

    #second-block-main-img {
        margin: 0 auto;
    }

    #second-block-options {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #second-block-main-texts .second-block-main-text {
        line-height: 1.6;
    }

    #img-face {
        bottom: 24px;
        right: -214px;
    }

    #second-block #second-block-main {
        display: block;
        align-items: start;
    }


    .block-instagram-main {
        justify-content: space-around;
    }

    .block-instagram-main .block-instagram-text .instagram-text {
        width: 423px;
    }


    .third-block-services {
        margin-right: 0px;
    }

    #third-block-title-image {
        width: 400px;
        left: 207px;
        top: 297px;
    }

    #strong {
        width: 400px;
        top: -172px;
        right: 0;
    }

    #strong img {
        width: 100%;
    }

    #fourth-block {
        padding: 50px 20px;
    }

    #fourth-block-title {
        margin-bottom: 20px;
    }


    #first-block-image {
        width: 400px !important;
        height: 526px;
    }
}

/*580-767*/
@media screen and (max-width: 800px) {
    .slick-track {
        transform: translate3d(144px, 0px, 0px) !important;
    }

    .block-instagram-main {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .block-instagram-button {
        margin: 20px auto 0 auto;
    }

    .block-instagram-main .block-instagram-text {
        margin: 0 auto;
    }

    .block-instagram-main .block-instagram-text {
        width: 100%;
    }

    #block-advertising .block-instagram-main .block-instagram-text .instagram-text {
        margin: 0 auto;
    }

}


@media screen and (max-width: 767px) {

    .slick-track {
        transform: translate3d(128px, 0px, 0px) !important;
    }

    #img-face {
        bottom: -6px;
        right: 269px;
    }

    #second-block-main-texts {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

    #advantages-main {
        padding: 30px 0;
    }

    #block-instagram {
        padding: 30px 20px;
    }

    #block-advertising {
        padding: 30px 0;
    }

    #fourth-block {
        padding: 30px 20px;
    }

    #footer-container-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer-place {
        margin-left: 0px;
    }

    #footer-place-map {
        width: 100%;
    }

    #footer-last {
        margin-top: 30px;
    }

    #footer-info-number {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 755px) {
    .logo {
        margin-right: 30px;
    }

    #burger {
        display: block;
    }

    #header-items {
        top: 100px;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        display: none;
    }

    .header-item {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    #header.menu-open {
        background: rgba(0, 0, 0, 0.8);
    }

    #header.menu-open #header-items {
        display: block;
    }

    .header-item:hover {
        border: none;
    }

    .slick-track {
        transform: translate3d(123px, 0px, 0px) !important;
    }

    #header {
        flex-wrap: wrap;
        justify-content: center;
    }

    #header .logo {
        order: 1;
    }

    #header-number {
        order: 2;
    }

    #header-items {
        order: 3;
        margin-top: 20px;
    }

}

@media screen and (max-width: 729px) {


    .slick-track {
        transform: translate3d(110px, 0px, 0px) !important;
    }

    #advantages-main {
        display: block;
    }

    .advantages-items {
        width: 350px;
        margin: 20px auto 0 auto;

    }

    #advantages-main {
        padding: 1px 0 10px 0;
    }
}

@media screen and (max-width: 715px) {
    .pop-up-check-block-info-text {
        width: 210px;
        padding: 13px 13px;
        margin: 14px 25px;
    }

    #pop-up-check-title-text {
        font-size: 12px;
    }

    #pop-up-check-title {
        margin: 0 0 10px 0;
    }

    .pop-up-check-block-info-text {
        margin: 5px 25px 14px 25px;
    }

    .pop-up-check-block-button {
        margin-top: 10px;
    }

    .pop-up-check-block-button .btn {
        padding: 13px 31px;
        font-size: 12px;
    }
}

@media screen and (max-width: 690px) {

    .slick-track {
        transform: translate3d(92px, 0px, 0px) !important;
    }

}

@media screen and (max-width: 650px) {

    .slick-track {
        transform: translate3d(73px, 0px, 0px) !important;
    }


    .block-instagram-button {
        margin: 20px auto 0 auto;
    }

    .block-instagram-main .block-instagram-text {
        width: 100%;
    }

    #third-block-title-image {
        width: 400px;
        left: 0;
        top: 0;
    }




    .select-text-image {
        top: 19px;
    }

    #pop-up-check-cancel {
        top: 0px;
    }
}


@media screen and (max-width: 600px) {
    .slick-track {
        transform: translate3d(49px, 0px, 0px) !important;
    }
}


@media screen and (max-width: 579px) {

    .slick-track {
        transform: translate3d(39px, 0px, 0px) !important;
    }

    #second-block-main-img {
        width: 350px;
    }

    #club {
        left: 0px;
    }

    #footer-place-map {
        height: 300px;
    }


}


@media screen and (max-width: 560px) {
    .slick-track {
        transform: translate3d(30px, 0px, 0px) !important;
    }

    .slick-center .background {
        width: 400px;
        height: 450px;
    }

    .slick-center .fourth-block-slick-content-block {
        width: 402px;
        bottom: -20px;
        left: -64px;
    }


}


@media screen and (max-width: 530px) {
    .slick-track {
        transform: translate3d(16px, 0px, 0px) !important;
    }
}

@media screen and (max-width: 515px) {
    .slick-track {
        transform: translate3d(9px, 0px, 0px) !important;
    }

    .slick-next {
        right: -19px;
    }

    .slick-prev {
        left: -19px;
    }
}

@media screen and (max-width: 500px) {

    #second-block-main-texts {
        width: 400px;
    }

    .block-instagram-button button {
        padding: 16px 22px;
    }

    .block-instagram-button {
        width: 100%;
    }


    #img-face {
        bottom: 19px;
        right: 105px;
    }

}

/*320-479*/
@media screen and (max-width: 479px) {

    .slick-track {
        transform: translate3d(-8px, 0px, 0px) !important;
    }

    #first-block-info h1 {
        font-size: 25px;
    }

    #first-block-info-text h2 {
        font-size: 18px;
    }

    #second-block-title #second-block-title-text {
        font-size: 25px;
    }

    #second-block-title {
        max-width: 580px;
        margin: 0 auto 20px auto;
    }

    .second-block-option .second-block-option-text {
        font-size: 14px;
    }

    .second-block-option {
        margin-top: 12px;
    }

    #second-block-main-texts .second-block-main-text {
        font-size: 12px;
    }

    .advantages-text {
        font-size: 16px;
    }

    .block-instagram-main .block-instagram-text .instagram-text {
        font-size: 20px;
    }

    .block-instagram-button button {
        font-size: 14px;
    }

    #third-block-title-text {
        font-size: 22px;
    }

    .third-block-services-service-text {
        font-size: 14px;
    }

    .third-block-services-service-text-span {
        font-size: 12px;
    }

    .third-block-services-title-text {
        font-size: 20px;
    }

    .third-block-services-all {
        margin-top: 30px;
    }

    .third-block-services-prices-price {
        font-size: 14px;
    }

    #fourth-block-info-text {
        font-size: 12px;
    }

    #fourth-block-title-text {
        font-size: 22px;
    }

    .advantages-image {
        width: 40px;
    }

    .advantages-image img {
        width: 40px;
    }

    .header-item {
        margin: 0px 10px;
    }

    #header {
        padding-top: 40px;
    }

}

@media screen and (max-width: 471px) {
    .slick-track {
        transform: translate3d(-12px, 0px, 0px) !important;
    }

    .slick-center .background {
        width: 350px;
        height: 400px;
    }

    .slick-center .fourth-block-slick-content-block {
        width: 353px;
        bottom: 5px;
        left: -39px;
    }

    .slick-center .btnm {
        margin-bottom: 20px;
    }

    .slick-center .fourth-block-slick-content-block-name {
        margin-bottom: 21px;
        margin-top: 25px;
    }

    .slick-prev {
        left: -19px;
        top: 187px;
    }

    .slick-next {
        right: -19px;
        top: 187px;
    }
}

@media screen and (max-width: 440px) {
    .slick-track {
        transform: translate3d(-26px, 0px, 0px) !important;
    }

    #first-block-image {
        width: 250px !important;
        height: 376px;
    }
}

@media screen and (max-width: 430px) {
    #club {
        width: 200px;
        bottom: 425px;
        left: 154px;
    }

    #third-block-title-image {
        width: 200px;
    }

    .slick-dots li button:before {
        width: 20px;
        height: 20px;
    }

    .slick-dots li button {
        width: 20px;
        height: 20px;
    }

    .slick-dots li.slick-active button:before {
        width: 11px;
        height: 11px;
    }

    .slick-dots li.slick-active button {
        width: 25px;
        height: 25px;
    }

    .slick-dots li {
        margin: 0px 6px;
    }

    #img-face {
        bottom: 19px;
        right: 59px;
    }


    .block-instagram-main .block-instagram-text .instagram-text {
        width: 300px;
    }


}


@media screen and (max-width: 425px) {
    .slick-track {
        transform: translate3d(-34px, 0px, 0px) !important;
    }

    .slick-center .background {
        width: 300px;
        height: 350px;
    }

    .slick-center .fourth-block-slick-content-block {
        width: 300px;
        bottom: 30px;
        left: -13px;
    }

    .slick-center .fourth-block-slick-content-block-name {
        margin-bottom: 13px;
        margin-top: 13px;
    }

    .slick-center .btnm {
        margin-bottom: 14px;
    }

}

@media screen and (max-width: 400px) {
    .slick-track {
        transform: translate3d(-46px, 0px, 0px) !important;
    }

    #second-block-main-img {
        width: 300px;
    }

    #club {
        display: none;
    }

    #strong {
        display: none;
    }

    .advantages-items {
        width: 285px;
        margin: 20px auto 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .slick-track {
        transform: translate3d(-58px, 0px, 0px) !important;
    }
}

@media screen and (max-width: 360px) {

    #footer-last {
        display: block;
    }

    .footer-last-info {
        text-align: center;
        margin-top: 10px;
    }

    .header-item {
        font-size: 14px;
    }

    #header .logo {
        margin-bottom: 20px;
    }

    #second-block-main-img {
        width: 250px;
    }

    #second-block-main-texts {
        width: 250px;
    }

    .third-block-services-service {
        width: 170px;
    }

    .slick-dots li button {
        width: 15px;
        height: 15px;
    }

    .slick-dots li button:before {
        width: 15px;
        height: 15px;
    }

    .slick-dots li.slick-active button {
        width: 20px;
        height: 20px;
    }

    .slick-dots li.slick-active button:before {
        width: 8px;
        height: 8px;
        margin: 6px;
    }

    .slick-dots li {
        margin: 0px 3px;
    }

    #pop-up-check-cancel {
        right: -3px;
    }
}


@media screen and (max-width: 350px) {
    .slick-track {
        transform: translate3d(-75px, 0px, 0px) !important;
    }

    .slick-next {
        right: -29px;
    }

    .slick-prev {
        left: -29px;
    }

    .slick-center .background {
        width: 250px;
        height: 300px;
    }

    .slick-center .fourth-block-slick-content-block {
        width: 251px;
        bottom: 55px;
        left: 12px;
    }

    #fourth-block-info {
        margin: 0 auto 0px auto;
    }

}

@media screen and (max-width: 320px) {
    .slick-track {
        transform: translate3d(-84px, 0px, 0px) !important;
    }


}






